<div>
    <div>
        <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image Url</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{product.Id}} </td>
            <td >{{product.Name}}  </td>
            <td>{{product.Slug}} </td>
            <td>{{product.Description}} </td>
            <td>{{product.Price}} </td>
            <td>{{product.ImageUrl}} </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
